@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  text-transform: capitalize;
}

/* -------preloader-------- */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.loader img {
  height: 20%;
}
.disppear {
  animation: preloader 1s forwards;
}
@keyframes preloader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* -------nav------ */
nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
  position: absolute;
  height: 70px;
  width: 100%;
  z-index: 100;
}
.logo {
  color: #ffff;
  text-decoration: none;
  font-size: 25px;
}
nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffff;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #353333;
}
.menu-icon {
  color: #ffff;
  font-size: 30px;
  display: none;
}
.nav-links {
  transition: all 0.5s;
}

/* ----------home---------- */
.wave {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 9rem;
  width: 100%;
  background: url(Images/wave.png);
  background-size: 100rem 10rem;
  background-repeat: repeat-x;
  animation: waves 10s linear infinite;
}
.wave2 {
  animation-direction: reverse;
  opacity: 0.2;
}
.wave3 {
  animation-duration: 4s;
  opacity: 0.5;
}

.home h1 {
  color: #ffff;
  display: flex;
  font-size: 55px;
  /* margin-top: -150px; */
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.home h3 {
  color: #ffff;
  display: flex;
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
}

.home button {
  height: 40px;
  width: 190px;
  background: #fff;
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: ease 0.5s;
}

.home button:hover {
  color: #fff;
  background: #353333;
}

.home {
  background: linear-gradient(#e66465, #9198e5);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
}

/* --------about--------- */

.about-us {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  overflow: hidden !important;
}

.about-us h1 {
  margin: 20px;
  padding-top: 50px;
  display: inline-block;
  font-size: 35px;
  color: #6c5ce7;
  position: relative;
  letter-spacing: 2px;
  /* border: 1px solid #6C5CE7; */
}
.about-us .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
}

.about-us .row .content p {
  font-size: 14px;
  color: #333;
  padding: 10px 0;
  /* letter-spacing: 1px; */
  line-height: 20px;
}

.about-us .row .content {
  text-align: left;
}
.about-us .row .content h3 {
  font-size: 30px;
  color: #6c5ce7;
}
.about-us .row .image img {
  width: 50vw;
}
.about-us .row .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  background: #6c5ce7;
  color: #fff;
  cursor: pointer;
  height: 35px;
  width: 150px;
  font-size: 17px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

/* --------service--------- */

.services {
  width: 100vw;
  text-align: center;
}

.services h1 {
  margin: 20px;
  padding-top: 50px;
  display: inline-block;
  font-size: 35px;
  color: #6c5ce7;
  position: relative;
  letter-spacing: 2px;
}

.services .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  /* width: 100vw; */
  margin: 40px 0;
}

.services .row .image img {
   width: 50vw;
   height: 55vh;
}

.services .row .content {
  text-align: left;
  padding: 0 3rem;
}

.services .row .content h3 {
  font-size: 1.7rem;
  color: #6c5ce7;
}

.services .row .content p {
  font-size: .9rem;
  color: #333;
  padding: 1rem 0;
  line-height: 20px;
}

.services .row .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  background: #6c5ce7;
  color: #fff;
  cursor: pointer;
  height: 35px;
  width: 150px;
  font-size: 17px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}

  /* ----internship---- */

.features {
  width: 100vw;
  text-align: center;
  padding: 0 3%;
}
.features h1 {
  margin: 20px;
  padding-top: 50px;
  display: inline-block;
  font-size: 35px;
  color: #6c5ce7;
  position: relative;
  letter-spacing: 2px;
}
.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features .box-container .box {
  flex: 1 1 18rem;
  background: #fff;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  margin: 1rem;
  padding: 2rem 1rem;
  border-radius: .5rem;
  text-align: center;
}
.features .box-container .box img {
  height: 10rem;
  margin-top: 5px;
  margin-left: 30px;
}
.features .box-container .box h3 {
  font-size: 1.2rem;
  color: #333;
  padding-top: 1rem;
}
.features .box-container .box button {
outline: none;
border: none;
border-radius: 5rem;
background: #6c5ce7;
color: #fff;
cursor: pointer;
height: 35px;
width: 150px;
font-size: 17px;
box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
text-transform: capitalize;
}
.features .box-container .box p {
  font-size: .85rem;
  color: #333;
  padding: 1rem 0;
  line-height: 20px;
}

   /* ----contact-us---- */
   .contact-us{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .contact-us h1{
    margin: 20px;
    padding-top: 50px;
    display: inline-block;
    font-size: 35px;
    color: #6c5ce7;
    position: relative;
    letter-spacing: 2px;
  }

  .contact-us .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-us .row .image img{
    height: 70vh;
    width:50vw;
  }
  
  .contact-us .row .form-container{
    width: 50%;
    text-align: left;
    padding:0 5rem;
  }
  
  .contact-us .row .form-container input, textarea{
    outline: none;
    border:none;
    height:4rem;
    background: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.6rem;
  }
  
  .contact-us .row .form-container .input-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-us .row .form-container .input-box input[type="text"]{
    width: 49%;
  }
  
  .contact-us .row .form-container input[type="email"]{
    width: 100%;
  }
  
  .contact-us .row .form-container textarea{
    width: 100%;
    height:20rem;
    padding:1rem; 
    resize: none;
  }
  
  .contact-us .row .form-container input[type="submit"]{
    background-color: #6c5ce7;
    color:#fff;
    cursor: pointer;
    height:4rem; 
    width: 10rem;;
  }
  
  .contact-us .row .form-container input[type="submit"]:hover{
    opacity: .8;
  }
  







@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: rgb(255, 255, 255);
    gap: 0;
    z-index: 1000;
    overflow: hidden;
  }
  nav ul li {
    padding: 20px 100vw;
    color: #fff;
  }
  nav ul li:hover {
    background: #444;
  }
  nav ul li a {
    color: black;
  }
  nav ul li a:hover {
    color: #fff;
  }
  .menu-icon {
    display: block;
  }
  .about-us .row {
    flex-flow: column-reverse;
    padding: 0 20px;
  }
  .about-us .row .image img {
    width: 100vw;
  }
  .services .row {
    flex-flow: column-reverse;
    padding: 0 20px;
  }
  .services .row:nth-child(even){
    flex-flow: column;
  }
  .services .row .image img {
    width: 100vw;
  }
  .contact-us .row .image img {
    width: 100vw;
  }
  .contact-us .row {
    flex-flow: column;
  }
  .contact-us .row .image img {
    width: 100vw;
  }
  .contact-us .row .form-container{
    width: 100%;
    padding:0 1.5rem;
  }
}

@keyframes waves {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100rem;
  }
}
